@{
    ViewData["Title"] = "Index view";
}

<h1>Hello DevRocks#3</h1>

<div class="row">
    <div class="col-md-12">
        <a asp-controller="Contact" asp-action="Index" class="btn btn-primary">
            Show Contacts
        </a>
    </div>
</div>
